# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# Virtual environments
# --------------------
.venv/
venv/
ENV/
env/

# --------------------
# OS files
# --------------------
.DS_Store
Thumbs.db

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# Streamlit
# --------------------
.streamlit/


# --------------------
# Local data
# --------------------
data/
*.csv
